@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");

.login-wrapper {
  margin: 0;
  font-family: "Roboto", sans-serif;
  display: flex;
  background: "#f0f2f5";
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  color: #333;
}

.login-container {
  width: 24%;

  min-height: 100vh;
  text-align: center;
  margin: 20px 0;
}

.login-box {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  width: 100%;
  position: relative;
  overflow: hidden;
}

.website-link {
  position: absolute;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: space-between;
  width: 26%;
  align-items: center;
  color: #e74c3c;
  font-size: 12px;
  font-weight: 500;
  cursor: pointer;
}

.website-link .fa-globe {
  margin-right: 5px;
}

.logo-container {
  margin: 20px 0 10px 0;
}

.logo {
  height: 50px;
  max-width: 100%;
}

.title {
  color: #e74c3c;
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.subtitle {
  color: #666;
  font-size: 14px;
  margin-bottom: 30px;
}

.input-group {
  margin-bottom: 20px;
  text-align: left;
}

.input-group label {
  display: block;
  font-weight: 500;
  margin-bottom: 8px;
  font-size: 14px;
}

.input-wrapper {
  position: relative;
}

.input-wrapper input {
  width: 100%;
  padding: 12px 40px 12px 15px;
  border: 1px solid #c5c4c6;
  font-weight: 400;
  border-radius: 8px;
  box-sizing: border-box;
  font-size: 14px;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.input-wrapper input:focus {
  outline: none;
  border-color: #e74c3c;
}

.input-icon {
  position: absolute;
  top: 50%;
  right: 15px;
  transform: translateY(-50%);
  color: #aaa;
  cursor: pointer;
}

.options {
  display: flex;
  align-items: center;
  margin-bottom: 25px;
}

.options label {
  cursor: pointer;
  margin-left: 8px;
  color: #555;
  font-size: 14px;
}

.login-button {
  width: 100%;
  padding: 15px;
  border: none;
  border-radius: 8px;
  background-color: #e74c3c;
  color: white;
  font-size: 18px;
  font-weight: 700;
  cursor: pointer;
  transition: background-color 0.3s;
}

.login-button:hover {
  background-color: #c0392b;
}

.hotline {
  margin-top: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #555;
}

.thienan-logo {
  width: 25px; /* Điều chỉnh kích thước nếu cần */
  margin-right: 8px;
}

.footer {
  margin-top: 30px;
  color: #777;
  font-size: 14px;
}

.message {
  margin-top: 15px;
  font-size: 14px;
  font-weight: 500;
}

.message.success {
  color: #2ecc71;
}

.message.error {
  color: #e74c3c;
}
