.cs-message__content,
.cs-message-input__content-editor {
  font-size: 1.4rem !important ;
  background-color: var(--green-hover-color) !important;
  color: var(--white-color) !important;
}

.cs-message-input__content-editor[data-placeholder]:empty:before {
  color: var(--white-color) !important;
}

.cs-message__content {
  background-color: var(--green-hover-color) !important ;
  color: var(--white-color) !important ;
}

.cs-message-list__scroll-wrapper {
  padding: 8px 12px 0 8px !important ;
}

.svg-inline--fa.fa-w-14,
.svg-inline--fa.fa-w-16 {
  width: 16px !important ;
  height: 16px !important ;
}

.cs-chat-container .cs-message-input {
  padding: 8px 4px !important ;
}

.cs-message-input__content-editor-wrapper {
  padding: 10px !important ;
  background-color: var(--green-hover-color) !important;
}

.cs-main-container {
  border: none !important ;
}

.cs-message-list__scroll-wrapper,
.cs-message-input,
.cs-typing-indicator {
  background-color: var(--bgr-body-content-app) !important ;
}

.message-wrap {
  display: flex !important;

  img {
    width: 40px !important;
    height: 40px !important;
    margin-right: 8px !important;
  }
}

.cs-button--attachment {
  color: var(--green-hover-color) !important ;
}

.cs-button--send {
  color: var(--green-hover-color) !important;
}
