.box-wrapper {
  background-color: var(--white-color);
  color: var(--text-color);
  padding: 16px;
  border-radius: 4px;
  box-shadow: 0 2px 3px #eaedf2;
  border: 1px solid #eff0f2;
}

.title,
.percent {
  font-size: 1.4rem;
}

.title {
  font-size: 1.2rem;
  opacity: 0.8;
}

.vector {
  width: 70px;
  height: 100%;
}

.quality {
  font-size: 2rem;
  font-weight: 600;
}

.filter-dropdown {
  display: block;
  width: 100%;
  min-width: 100px;
  height: calc(1.5em + 1.3rem + 2px);
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid var(--border-color);
  border-radius: 4px;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;

  legend {
    width: 0px;
  }

  fieldset {
    border: none;
  }
}

.table {
  width: 100%;
  text-align: left;
  border-collapse: collapse;
  margin: 24px 0 !important;
  font-size: 14px;

  tr {
    border: 1px solid #d5d7dc;
  }

  thead {
    background-color: var(--primary-color);
    color: var(text-color);

    th {
      padding: 8px 12px;
      text-overflow: ellipsis;
      word-break: break-word;
      overflow: hidden;
      font-size: 1.4rem;
      font-weight: 500;
      border-collapse: collapse;
      border-right: 1px solid var(--border-color);
      text-align: center;

      &:first-child,
      &:last-child {
        text-align: center;
      }
    }
  }

  tbody {
    tr {
      border: 1px solid #d5d7dc;

      &:nth-child(even) {
        background-color: var(--gray-color);
      }
    }

    td {
      padding: 12px;
      border-collapse: collapse;
      border-right: 1px solid var(--border-color);
      text-align: center;
      min-width: 62px;
      width: auto;
      height: 36px;
      max-width: 100px;

      p {
        display: flex !important;
        justify-content: center;
        font-size: 1.2rem;
        overflow: hidden;
        text-overflow: ellipsis;
        word-break: break-word;
        max-height: 56px;
        line-height: 1.5;
      }

      a {
        white-space: nowrap;
      }

      &:first-child {
        text-align: center;
      }
    }
  }
}
