.form-wrapper {
  padding: 0 38px;

  label {
    color: #333;
    font-weight: 500;
    font-size: 1.2rem;
    text-shadow: 1px 1px 1px var(--white-color);

    &:first-child {
      margin-top: 0;
    }
  }

  .input {
    font-size: 1.4rem;
    background-color: var(--gray-color);
    padding: 1.4rem;
    border-bottom: 2px solid #d9d9d9;
    appearance: none;
    -webkit-appearance: none;
    transition: all 0.2s ease-in-out;
    padding-left: 25px;
  }

  .forgot-pass {
    display: flex;
    justify-content: flex-end;
    font-size: 1.4rem;
    text-decoration: underline;
    text-shadow: 1px 1px 1px var(--white-color);
    margin-top: calc(var(--primary-size) + 0.8rem);

    a {
      &:hover {
        color: var(--primary-color);
      }
    }
  }
}

.form-input-wrapper {
  display: flex;
  flex-direction: column;
  margin: 24px 0 10px 0;
  position: relative;

  svg {
    width: 20px;
    height: 20px;
    position: absolute;
    bottom: 14px;
    color: #acadb0;
    font-weight: 600;

    &:last-child {
      width: 17px;
      height: 17px;
    }
  }
}

.login {
  position: relative;
  background-color: var(--primary-color);
  color: var(--white-color);
  border: 1px solid transparent;

  &:hover {
    background-color: var(--green-hover-color);
  }

  &:disabled {
    background-color: #04a35494;
  }
}

.sign-up {
  background-color: rgba(22, 24, 35, 0.06);
  border: none;
  font-weight: 600;

  &:hover {
    border: 1px solid var(--primary-color);
  }
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 42px;
  width: 100%;
  border-radius: 6px;
  transition: 0.3s;
  margin: calc(var(--primary-size) + 2rem) auto;
  cursor: pointer;

  svg {
    width: 30px !important;
    height: 30px !important;
    margin-left: 12px;
  }

  &:hover {
    background-color: var(--green-hover-color);
  }

  &:active {
    box-shadow: none;
    transform: translateY(5px);
  }
}

.errors {
  width: 100%;
  font-family: var(--font-family);
  font-size: 1.4rem;
  margin: 8px 0 0 8px;
  color: var(--second-color);
}

.remember-pass-wrapper {
  display: flex;
  align-items: center !important;
  justify-content: space-evenly;
  margin-top: 16px !important;
  label {
    font-size: 1.3rem;
    cursor: pointer;
    margin: 0;
    color: var(--text-color);
    font-weight: 600;
  }
}

.forgot-pass-wrapper {
  display: flex !important;
  justify-content: flex-end;
  align-items: center;
  margin-top: 16px !important;

  span {
    cursor: pointer;
    font-size: 1.2rem;
    font-weight: 600;

    &:hover {
      text-decoration: underline;
    }
  }
}

.outro {
  text-align: center;
  font-size: 1.4rem;
  color: var(--green-hover-color);
  cursor: pointer;

  &:hover {
    color: var(--primary-color);
  }
}
